.header {
	padding: 1em;
	color: black;
	background-color: lightgray;
	text-align: center;
    box-shadow: 4px 4px 4px -4px rgba(0, 0, 0, 0.75);
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  box-sizing: border-box;
  position: relative;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 3px solid #f97b04;
  border-top-color: #f93d03;
  border-right-color: #ffe100;
  border-bottom-color: #ff007b;
  animation: spinner .6s linear infinite;
}
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 1em;
    float: bottom;
    width: 200px;
    height:175px;
    text-align: center;
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.75);
}

.totalgallery {
    margin: 5px;
    padding: 1em;
    float: bottom;
    width: 100px;
    height:100px;
    text-align: center;
}

.biggallery {
    width: 200px;
    height: 200px;
    text-align: center;
}

.search-input {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    background-color: white;
    box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.75);
}

.guest-text-box{
    width: 50px; 
    height: 30px;
}
.full-width {
    width: 100%;
}

.image-box-xs {
    background-color: white;
    width: 50px;
    height: 50px;
}

.image-box-sm {
    width: 100px;
    height: 100px;
}

.image-box-md {
    width: 140px;
    height: 100px;
}

.buffer { margin-top:10px; margin-left:10px; margin-right:10px; margin-bottom:10px; }

.ingredientbox {
    border: 1px solid #ccc;
    color: black;
    background-color: wheat;
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.75);
}

.totaltext {
    color: brown; 
    float:right
}

.invisible {
    display: none;
}

.float-right {
    float: right;
}

.square-box {
    margin: 10% auto;
}

.box-shadow {
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.75);
}