.header {
	padding: 1em;
	color: black;
	background-color: lightgray;
	clear: left;
	text-align: center;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 1em;
    float: bottom;
    width: 150px;
    height:150px;
    text-align: center;
}

.buffer { margin-top:10px; margin-left:10px; margin-right:10px; margin-bottom:10px; }

.ingredientbox {
    border: 1px solid #ccc;
    color: black;
    background-color: wheat;
}

